/**Top menu**/
#horizontal-multilevel-menu2,#horizontal-multilevel-menu2 ul
{
	margin:0; padding:0;
	background:#ffffff;
	width:100%;
	list-style:none;
}

#horizontal-multilevel-menu2
{	
    position: relative;
}


#horizontal-multilevel-menu2 li:hover a, #horizontal-multilevel-menu2 li.jshover a
{
	text-decoration:none;
}

#horizontal-multilevel-menu2 li:hover, #horizontal-multilevel-menu2 li.jshover
{
	text-decoration:none;
}

/*Child-items selected*/
#horizontal-multilevel-menu2 li.selected
{
	
}

/*Sub-menu box*/
#horizontal-multilevel-menu2 > li > ul
{
	position:absolute;
	padding: 10px 0px;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;
	height:auto;
	width:100%;
	left: 0px;
	right: 0px;
	background:#ffffff;
	box-shadow: 0px 6px 8px 3px rgba(0, 0, 0, 0.2);
}
#horizontal-multilevel-menu2 > li > ul > li > ul
{
	padding: 10px 0px;
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;
	height:auto;
	width:300px;
	background:#ffffff;
	box-shadow: 0px 3px 5px 0px #757575;
}

#horizontal-multilevel-menu2 > li > ul > li > ul > li > ul {
    padding: 10px 10px;
    position: absolute;
    /* top: -999em; */
    top: auto;
    display: none;
    z-index: 500;
    height: auto;
    width: 180px;
    background: #ffffff;
    box-shadow: 0px 3px 5px 0px #757575;
}


/*Sub-menu item box*/
#horizontal-multilevel-menu2 > li > ul > li
{
	width: 33.33%;
	float: left;
	display: inline-block;
	padding: 0px 10px;
	margin: 0;
}

/*Item link*/
#horizontal-multilevel-menu2 li ul a
{
	text-align: left;
	position: relative;
	color: #ba0702;
	background:#ffffff;
	display: inline-block;
	width: 100%;	
	padding: 5px 10px;
}
#horizontal-multilevel-menu2 li ul a:hover, #horizontal-multilevel-menu2 li ul a.root-item-selected, #horizontal-multilevel-menu2 li ul a.item-selected, #horizontal-multilevel-menu2 li ul li.item-selected a
{
	color: #ffffff;
	background:#ba0702;
}
#horizontal-multilevel-menu2 li ul li:hover > a
{
	color: #ffffff;
	background:#ba0702;
}
#horizontal-multilevel-menu2 > li > ul > li > ul > li
{
	display: inline-block;
	width: 100%;
	padding: 0px 10px;
	margin: 0;
}

/*Items text color & size */
#horizontal-multilevel-menu2 li a,
#horizontal-multilevel-menu2 li:hover li a,
#horizontal-multilevel-menu2 li.jshover li a,
#horizontal-multilevel-menu2 li:hover li:hover li a,
#horizontal-multilevel-menu2 li.jshover li.jshover li a,
#horizontal-multilevel-menu2 li:hover li:hover li:hover li a,
#horizontal-multilevel-menu2 li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu2 li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu2 li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu2 li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu2 li.jshover li.jshover li.jshover li.jshover li.jshover li a
{

}

/*Items text color & size: hover*/
#horizontal-multilevel-menu2 li:hover li:hover a,
#horizontal-multilevel-menu2 li.jshover li.jshover a,
#horizontal-multilevel-menu2 li:hover li:hover li:hover a,
#horizontal-multilevel-menu2 li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu2 li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu2 li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu2 li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu2 li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu2 li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu2 li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	
}

#horizontal-multilevel-menu2 li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}


#horizontal-multilevel-menu2 li:hover ul ul,
#horizontal-multilevel-menu2 li.jshover ul ul,
#horizontal-multilevel-menu2 li:hover ul ul ul,
#horizontal-multilevel-menu2 li.jshover ul ul ul,
#horizontal-multilevel-menu2 li:hover ul ul ul ul,
#horizontal-multilevel-menu2 li.jshover ul ul ul ul,
#horizontal-multilevel-menu2 li:hover ul ul ul ul ul,
#horizontal-multilevel-menu2 li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu2 li:hover ul,
#horizontal-multilevel-menu2 li.jshover ul,
#horizontal-multilevel-menu2 li li:hover ul,
#horizontal-multilevel-menu2 li li.jshover ul,
#horizontal-multilevel-menu2 li li li:hover ul,
#horizontal-multilevel-menu2 li li li.jshover ul,
#horizontal-multilevel-menu2 li li li li:hover ul,
#horizontal-multilevel-menu2 li li li li.jshover ul,
#horizontal-multilevel-menu2 li li li li li:hover ul,
#horizontal-multilevel-menu2 li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}
