@charset "windows-1251";

/********************************
		  общие стили
********************************/

* {
	margin: 0;
	padding: 0;
}
html {
	width: 100%;
	min-height: 100%;
	position: relative;
}
body {
	font-size: 14px;
	font-family:  Arial, Verdana, Helvetica, sans-serif;
	background: #f8f8f8;
	width: 100%;
	text-align: left; 
	color: #000000;
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
.container.wrapper {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 9px 0px rgba(153,153,153,1);
	box-shadow: 0px 0px 9px 0px rgba(153,153,153,1);
	height: 100%;
	min-height: 100%;
	padding-bottom: 50px;
}

.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
pointer-events: none; 
-moz-user-select: none; 
-webkit-user-select: none; 
-ms-user-select: none; 
user-select: none;
}
a {
	color: #ba0702;
	text-decoration: underline;
	-webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
	transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}
a:hover {
	text-decoration: underline;
	color: #10b136;
}
a:focus {
	outline: none;
	text-decoration: underline;
	color: #10b136;
}

h1, .h1 {
	font-size: 28px;
	margin-bottom: 30px;
	margin-top: 0px;
	color: #333333;
	font-weight: bold;
}
h2, .h2 {
	font-size: 24px;
	margin-bottom: 15px;
	margin-top: 15px;
	color: #333333;
	font-weight: bold;
}
h3, .h3 {
	font-size: 20px;
	margin-bottom: 15px;
	margin-top: 15px;
	color: #333333;
	font-weight: bold;
}
h4 {
	font-size: 16px;
	margin-bottom: 15px;
	margin-top: 15px;
	color: #333333;
	font-weight: bold;
}
p {
	margin-bottom: 18px;
}
ul {
	margin-bottom: 18px;
	margin-left: 20px;
}
li {
	padding: 3px 0px;
}



hr { 
color: #555; /*aey IE */ 
background-color:#555; /*aey Firefox, Opera, Safari*/ 
border:0px none; 
height:1px; /* aunioa 1px IE, Firefox, Opera, Safari */ 
clear:both; /* aey i?enoee, anee oaa eaao iinea float aeaiaioa */
margin: 15px 0px;
}


.button, .bx_bt_button {
    border: none;
	background: #10b136 none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
    overflow: hidden;
    padding: 9px 18px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s !important;
    transition: all 0.5s ease 0s !important;
    vertical-align: middle;
}
.button:hover, .bx_bt_button:hover {
    color: #fff;
    cursor: pointer;
	background-color: #088225;
}
.button span {
    position: relative;
    z-index: 9;
}

.btn.btn-default {
    background-color: #10b136!important;
    border-color: #10b136!important;
    color: #fff;
    outline: 0 none;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn.btn-default:hover {
    background-color: #088225!important;
    border-color: #088225!important;
    color: #fff;
    outline: 0 none;
	text-decoration: none;
}

label {
	font-weight: normal;
}
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox]:not(old) + label {
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('img/checks.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('img/checks.png') no-repeat 0 -242px;
  line-height  : 24px;
}

input[type=checkbox]:not(old):checked + label{
  background-position : 0 -118px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -360px;
}
label {
    font-weight: normal;
    margin-bottom: 2px;
	cursor: pointer;
}

.popup-window-buttons span.col-lg-4 {
	width: 50%;
}


/*********************************
			header 
*********************************/
.logo-top {
	text-align: center;
	padding-top: 15px;
	position: relative;
}
.logo-top .cap-top {
	text-align: center;
	padding-top: 15px;
	font-size: 17px;
	color: #666666;
	line-height: 18px;
	text-decoration: none;
	display: block;
}
.logo-top a {
	display: block;
	text-decoration: none;
}
.logo-top a::before {
    background: rgba(255, 255, 255, 0.9) url("img/backtomain.png") no-repeat scroll 50% 50%;
    content: " ";
    display: block;
    height: 1px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 15px;
    transition: opacity 400ms ease 0s, height 10ms ease 400ms;
    width: 100%;
    z-index: 100;
}
.logo-top a:hover::before {
    height: 120px;
    opacity: 1;
    transition: height 10ms ease 0s, opacity 400ms ease 10ms;
}
.logo-top a:hover .cap-top {
    opacity: 0.3;
    transition: height 10ms ease 0s, opacity 400ms ease 10ms;
}
.phone-top {
	margin-top: 20px;
	font-size: 28px;
	color: #ba0702;
	font-weight: bold;
	background: url(img/phone-icon.png) no-repeat left top;
	padding-left: 35px;
	line-height: 30px;
	float: left;
	width: 270px;
}
.phone-top a {
	text-decoration: none;
	color: #ba0702;
}
.phone-top a:hover {
	text-decoration: none;
	color: #10b136;
}
.time-top {
	margin-top: 20px;
	font-size: 13px;
	color: #666666;
	float: left;
	width: 170px;
	margin-left: 30px;
}
.our-magaz {
	margin-top: 20px;
	font-size: 18px;
	color: #333333;
}
.magaz {
	margin-top: 2px;
	font-size: 13px;
	color: #333333;
}
.mag1 {
	background: url(img/marker.png) no-repeat 0px 3px;
	padding-left: 15px;
	margin-top: 0px;
}
.magaz span.caaap {
	font-size: 15px;
	color: #333333;
font-weight: bold;
}
.map-link0 {
	color: #333333;
	text-decoration: none;
}
.map-photo1 {
	display: inline-block;
	margin-left: 10px;
}
.map-photo2 {
	display: inline-block;
}

.login-reg {
	margin-top: 20px;
	background: url(img/lk-icon.png) no-repeat 0px 0px;
	padding-left: 60px;
	line-height: 39px;
}

.pismo-diru a {
	display: block;
	margin-top: 15px;
	background: url(img/diru.png) no-repeat 0px 0px;
	padding-left: 60px;
	line-height: 39px;
}

.cart {
	margin-top: 15px;
}
.cart a {
	background: url(img/cart-icon2.png) no-repeat 0px 0px;
	padding-left: 60px;
	line-height: 39px;
	display: block;
}
.cart a.empty {
	color: #999999;
	text-decoration: none;
}
.cart a span {
	display: inline-block;
	color: #333333;
	float: right;
}
.cart a:hover {
	color: #10b136;
	text-decoration: underline;
}
.cart a:hover span {
	color: #333333;
	text-decoration: none;
}

#search {
	margin-top: 7px;
	height: 37px;
	line-height: 36px;
	background-color: #f8f8f8;
	position: relative;
	border: 1px solid #ba0702;
}
#search input {
	border: none;
	background-color: #f8f8f8;
	padding: 0px 40px 0px 25px;
	height: 34px;
	line-height: 34px;
	width: 100%;				
}
#search input:focus {
	outline: none;			
}
#search .btn-default {
	border: none;
	margin-right: 0px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 34px;
	width: 34px;
	background: #f8f8f8 url(img/search.png) no-repeat center center;
}

.advert a {
	display: block;
	margin-top: 20px;
	color: #333333;
	padding: 5px 15px 3px 15px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #eeeeee;
}
.advert a b {
	color: #ba0702;
}
.advert a:hover {
	background-color: #e1e1e1;
}


.nav-block-top {
	margin-top: 20px;
	color: #ffffff;
	padding: 0px; 
	background-color: #630300;
	height: 42px;
	line-height: 42px;
}
ul.navi {
	margin: 0;
	padding: 0;
}	
ul.navi li {
	margin: 0;
	padding: 0 2px 0 0;
	background: url(img/top-menu-sep.png) no-repeat right center;
}	
ul.navi li:last-child {
	padding: 0;
	background: none;
}
ul.navi > li > a {
    color: #ffffff;
    font-size: 14px;
    padding: 0px 0px;
    text-shadow: none;
    text-transform: uppercase;
    white-space: nowrap;
	text-decoration: none;
	display: block;
	height: 42px;
	line-height: 42px;
	position: relative;
}
ul.navi > li > a:hover, ul.navi > li.active > a {
    color: #ffffff;
    text-decoration: none;
}
ul.navi > li > a span {
    position: relative;
}
ul.navi > li > a span::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0px;
    position: absolute;
    right: 0px;
    transform: scale3d(0, 1, 1);
    -webkit-transform: scale3d(0, 1, 1);
    -ms-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
    -ms-transition: transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
}
ul.navi > li > a:hover span::after, ul.navi > li.active > a span::after {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -ms-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -o-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
}

.nav-block-bot {
	color: #ffffff;
	background-color: #ba0702;
	/*height: 65px;*/
	/*height: 115px;*/
	position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {

	
}

.nav-block-accii {
	width: 128px;
	height: 90px;
	background: #ba0702 url(img/accii-fon.png) repeat-y right top;
	z-index: 20;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.nav-block-accii a {
	width: 128px;
	height: 90px;
	line-height: 92px;
	display: block;
	background: url(img/accii.png) no-repeat 15px center;
	padding-left: 52px;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}
.nav-block-accii:hover {
	opacity: 0.8;
}


.nav-block-menu {
	/*right: 0;
	top: 0;
	bottom: 0;*/
	padding: 9px 0px 9px 128px; 
	/*position: absolute;*/
	z-index: 10;
}
ul.navi-cat {
	margin: 0;
	padding: 0;
}	
ul.navi-cat li {
	margin: 0px 4px;
	padding: 3px 0px 1px 7px;
	float: left;
	list-style: none;
	background: url(img/top-menu-marker.png) no-repeat left center;
}	

ul.navi-cat > li > a {
    color: #ffffff;
    font-size: 14px;
    padding: 0px 0px;
    text-shadow: none;
    text-transform: uppercase;
    white-space: nowrap;
	text-decoration: none;
	position: relative;
}
ul.navi-cat > li > a:hover, ul.navi-cat > li.bx-active > a {
    color: #ffffff;
    text-decoration: none;
}
ul.navi-cat > li > a::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0px;
    position: absolute;
    right: 0px;
    transform: scale3d(0, 1, 1);
    -webkit-transform: scale3d(0, 1, 1);
    -ms-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
    -ms-transition: transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
}
ul.navi-cat > li > a:hover::after, ul.navi-cat > li.bx-active > a::after {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -ms-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -o-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
}


@media (min-width: 992px) and (max-width: 1199px) {
	.time-top {
		margin-left: 0px;
		margin-top: 10px;
		width: 340px;
	}
	.nav-block-bot {
		
	}
	.nav-block-accii {
		height: 88px;
	}
	.nav-block-accii a {
		height: 88px;
		line-height: 89px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.logo-top {
		padding-top: 15px;
		height: 120px;
	}
	.logo-top a::before {
		top: 15px;
		transition: opacity 400ms ease 0s, height 10ms ease 400ms;
		width: 100%;
		z-index: 100;
	}
	.logo-top img {
		height: 75px;
	}
	.logo-top .cap-top {
		font-size: 14px;
		line-height: 15px;
		padding-top: 5px;
	}
	.time-top {
		margin-top: 30px;
	}
	ul.navi > li > a {
		font-size: 12px;
	}
	ul.navi-cat li {
		margin: 0 5px;
	}
	ul.navi-cat > li > a {
		font-size: 12px;
	}
	.nav-block-bot {
		height: 88px;
	}
	.nav-block-accii {
		height: 88px;
	}
	.nav-block-accii a {
		height: 88px;
		line-height: 89px;
	}
}
@media (max-width: 767px) {
	.logo-top {
		margin-top: 0px;
	}
.container.wrapper {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.phone-top {
		font-size: 25px;
		width: 100%;
	}
	.time-top {
		text-align: center;
		width: 100%;
		margin-left: 0px;
	}
}


.main-big-bb {
	margin-top: 20px;
	text-align: center;
}
.main-big-bb a {
	display: block;
}
.main-big-bb a:hover {
	opacity: 0.9;
}

/********************************
	  каталог на главной
********************************/
.main-items {
	margin-top: 30px;
}
.main-item {
	border: 1px solid #e5e5e5;
	padding: 15px;
	position: relative;
	margin-bottom: 30px;
}
.main-item.spec {
	background: #ffe2e1;
}
.main-item-pic {
	height: 119px;
}
.main-item-pic a {
	display: block;
	height: 119px;
	width: 119px;
	border: 1px solid #e5e5e5;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-background-size:contain;
	background-size:contain;
	position:relative;
	padding-top:94%;
	z-index:110;
}
.main-item-pic a.bx_catalog_item_images_double{
	z-index:100;
	margin-top:-94%;
	opacity:0;
}
/*.bx-no-touch .main-item-pic:hover a.bx_catalog_item_images{
	opacity:0;
	-webkit-animation:rotateimgfirst 0.5s;
	animation:rotateimgfirst 0.5s;
}
.bx-no-touch .main-item-pic:hover a.bx_catalog_item_images{
	opacity:1;
	-webkit-animation:rotateimglast 0.5s;
	animation:rotateimglast 0.5s;
}
@keyframes rotateimgfirst {from {opacity:1;} to {opacity:0;}}
@-webkit-keyframes rotateimgfirst {from {opacity:1;} to {opacity:0;}}
@keyframes rotateimglast  {from {opacity:0;} to {opacity:1;}}
@-webkit-keyframes rotateimglast  {from {opacity:0;} to {opacity:1;}}
*/
.main-item-pic img {
	border: 1px solid #e5e5e5;
}
.main-item-desc {
	position: relative;
}
.main-item-desc-spec {
	color: #ba0702;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
}
.main-item-desc-cap {
	font-size: 15px;
	margin-top: 0px;
	height: 80px;
	overflow: hidden;
}
.main-item.spec .main-item-desc-cap {
	margin-top: 5px;
	height: 52px;
}
.main-item-desc-cap a {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.main-item-desc-cap a:hover {
	color: #10b136;
	text-decoration: none;
}
.main-item-desc-price {
	color: #ba0702;
	font-size: 18px;
	font-weight: bold;
}
.main-item-desc-price span.old-price {
	color: #666666;
	font-size: 13px;
	color: #ba0702;
	font-weight: normal;
	text-decoration: line-through;
	display: block;
	line-height: 13px;
}
.main-item-desc-price span.old-price span {
	color: #666666;
	text-decoration: none;
}
.main-item-desc-btn {
	position: absolute;
	right: 15px;
	bottom: 15px;
	width: auto;
	height: 39px;
}
a.btn-incart,
.main-item-desc-btn a {
	width: 39px;
	height: 39px;
	display: block;
	padding: 0px 0px 0px 40px;
	line-height: 40px;
	text-align: left;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	background: #ba0702 url(img/cart-icon.png) no-repeat 6px 7px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a.btn-incart:hover,
.main-item-desc-btn a:hover {
	width: 125px;
	color: #ffffff;
	text-decoration: none;
	background-color: #630300;
}
.main-item-label {
	position: absolute;
	display: block;
	left: -9px;
	top: 5px;
	width: 122px;
	height: 36px;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
	z-index: 115;
}
.main-item-label:hover {
	color: #ffffff;
	text-decoration: none;
}
.main-item-label.newprod {
	width: 122px;
	background: url(img/label-new.png) no-repeat 0px 0px;
}
.main-item-label.hit {
	width: 75px;
	background: url(img/label-hit.png) no-repeat 0px 0px;
}
.main-item-label.spec {
	width: 190px;
	background: url(img/label-spec.png) no-repeat 0px 0px;
}


@media (min-width: 992px) and (max-width: 1199px) {
	.main-item-pic {
		height: 91px;
	}
	.main-item-pic a {
		height: 91px;
		width: 91px;
	}
.main-item-desc-spec {
		display: none;
	}
	.main-item.spec .main-item-desc-cap {
		margin-top: 0px;
	}
	.main-item-desc-cap {
		font-size: 14px;
		height: 50px;
		margin-top: 0px;
		line-height: 14px;
	}
	.main-item-label {
		top: 10px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.main-item-pic {
		height: 112px;
	}
	.main-item-pic a {
		height: 112px;
		width: 112px;
	}
	.main-item-desc-spec {
		
	}
	.main-item.spec .main-item-desc-cap {
		margin-top: 10px;
	}
	.main-item-desc-cap {
		font-size: 14px;
		height: 73px;
		margin-top: 0px;
		line-height: 15px;
	}
	.main-item-label {
	
	}
	
}
@media (max-width: 767px) {
	.main-item-pic a {
		padding-top: 0;
	}
	.main-item-desc-spec {

	}
	.main-item.spec .main-item-desc-cap {
		margin-top: 10px;
	}
	.main-item-desc-cap {
		margin-top: 10px;
	}
	.main-item-label {
	
	}
	.bx_catalog_list_home .bx_catalog_item {
		clear: both;
		border-bottom: 1px solid #e5e5e5;
		height: auto;
		padding-bottom: 20px;
	}
}

/**********************************
	блоки каталога на главной
**********************************/
.main-cat-categ {
	margin-bottom: 0px;
}
.thumbs {
  width: 100%;
  opacity: 1;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}
.thumbs:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.thumbs img {
  display: block;
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.thumbs .cat-categ-caption {
  width: 100%;
  color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  margin-top: -65px;
   -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.thumbs:focus .cat-categ-caption, .thumbs:hover .cat-categ-caption  {
  margin-top: 0px;
  bottom: 0;
  top: auto;

}
.cat-categ-cap a span.arrow {
	display: inline-block;
	width: 14px;
	line-height: 14px;
	height: 14px;
	background: url(img/white-arrow.png) no-repeat center center;
	margin-left: 15px;
	-webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.thumbs:focus  span.arrow, .thumbs:hover  span.arrow {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -o-transform: rotate(90deg); /* Opera */
    transform: rotate(90deg);
}

.cat-categ {
	margin-bottom: 30px;
	overflow:hidden;
	height: 270px;
	width: 100%;
	position: relative;
}
.cat-categ-caption {
	color: #ffffff;
	background: url(img/cat-categ-caption.png) repeat-y right top;
	padding: 0px 30px 0px 30px;
}
.cat-categ-cap {
    height: 65px;
    font-size:18px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}
.cat-categ-cap a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	height: 65px;
	line-height: 65px;
}
.cat-categ-cap a:hover {
	color: #10b136;
	text-decoration: none;
}
.cat-categ-cap a span {
	display: inline-block;
	height: 65px;
    line-height: 65px;
}
.cat-categ-cap a span.arrow {
	display: inline-block;
	width: 14px;
	line-height: 14px;
	height: 14px;
	background: url(img/white-arrow.png) no-repeat center center;
	margin-left: 15px;
	-webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.cat-categ.active span.arrow {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -o-transform: rotate(90deg); /* Opera */
    transform: rotate(90deg);
}
.cat-categ-text {
	font-size: 12px;
	padding-bottom: 20px;
}
.cat-categ-text a {
	color: #ffffff;
}
.cat-categ-text a:hover {
	color: #10b136;
}
.cat-categ-text div {
	padding: 0;
}
.overlay{
    opacity:0.3;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.overlay a {
    display: block;
	width: 100%;
	height: 100px;
}
.ic_caption{
    position:absolute;    
    overflow:hidden;
    left:0px;
    right:0px;
}


.main-text {
	margin-bottom: 30px;
}
	


@media (max-width: 767px) {
	.thumbs .cat-categ-caption {
	  margin-top: -38px;
	}
.cat-categ-cap {
		height: 38px;
	}
.cat-categ-cap a {
		height: 38px;
		line-height: 38px;
		font-size: 14px;
	}
	.cat-categ-cap a span.arrow {
		margin-left: 5px;
	}
}	


/*******************************
	  Внутренние страницы
*******************************/

.breadcrumb {
    margin-bottom: 20px;
    margin-top: 4px;
    background-color: #ffffff;
	border-radius: 0px;
	border-radius: none;
	padding: 5px 0px;
}
.breadcrumb a {
    display: inline-block;
    font-size: 12px;
}
.breadcrumb span {
    display: inline-block;
    font-size: 12px;
}
.breadcrumb i {
    display: inline-block;
    font-size: 12px;
    padding: 0 10px;
}

.page h1 {
	text-align: center;
}

/*******************************
			каталог
*******************************/
.popup-window-content img {
	max-width: 200px;
	max-height: 100px;
}

.popup-window .bx_catalog_list_home .bx_bt_button {
    background: #ba0702;
    color: #ffffff;
    display: block;
    float: none;
    font-size: 13px;
    font-weight: bold;
    height: 39px;
    line-height: 41px;
    overflow: hidden;
    padding: 0 10px 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
	margin-right: 0px;
}
.popup-window .bx_catalog_list_home .bx_bt_button:hover {
    background: #10b136;
    color: #ffffff;
	text-decoration: none;
}

.label {
	position: absolute;
	display: block;
	left: -6px;
	top: 5px;
	width: 95px;
	height: 28px;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	z-index: 115;
}
.label:hover {
	color: #ffffff;
	text-decoration: none;
}
.label.newprod {
	width: 95px;
	background: url(img/label-new2.png) no-repeat 0px 0px;
}
.label.hit {
	width: 58px;
	background: url(img/label-hit2.png) no-repeat 0px 0px;
}
.label.spec {
	width: 132px;
	background: url(img/label-spec2.png) no-repeat 0px 0px;
}
.label.l1 {
	top: 32px;
}
.label.l2 {
	top: 68px;
}

.sort {
    color: #666666;
    float: right;
    font-size: 13px;
    margin: 0 0 20px 0;
}
.sorttext {
    display: inline-block;
    font-size: 14px;
}
.sortbutton {
    background-color: #10b136;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 3px 6px;
    text-decoration: none;
}
.sortbutton.current, .sortbutton:hover, .sortbutton.current:hover, .sortbutton:active {
    background-color: #088225;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 3px 6px;
    text-decoration: none;
}
.sortbutton span {
    background: rgba(0, 0, 0, 0) url("img/sort.png") no-repeat scroll right 4px;
    display: inline-block;
    height: 10px;
    width: 12px;
}
.sortbutton.current.desc:hover span, .sortbutton.current.asc span {
    background-position: right -41px;
}
@media (max-width: 767px) {
	.sort {
		font-size: 12px;
		margin: 0 0 6px;
	}
	.sortbutton {
		font-weight: normal;
		padding: 3px 4px 0;
	}
	.sortbutton.current, .sortbutton:hover, .sortbutton.current:hover, .sortbutton:active {
		font-weight: normal;
		padding: 3px 4px 0;
	}
}

/*******************************
		карточка товара
*******************************/

.popup-window-titlebar {
    font-size: 18px;
    line-height: 48px;
}
.popup-window-with-titlebar .popup-window-content, .popup-window-content-gray .popup-window-content {
	background-color: #fff;
}
.popup-window-with-titlebar .popup-window-content {
    padding: 0;
}
.popup-window-content p {
   margin: 10px 0px 0px 0px;
   font-size: 16px;
}
.popup-window-buttons .bx_item_detail .bx_bt_button {
    background-image: none;
}

/*******************************
		отзывы
*******************************/
	
.otzyvy {
	margin-top: 40px;
}	
.otzyvy-cap {
	color: #da3737;
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 15px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #da3737;
}
.otzyv {
	margin-bottom: 20px;
	padding: 8px 15px;
	background-color: #eeeeee;
}	
.otz-name {
	font-size: 15px;
	color: #da3737;
    font-weight: bold;
}	
.otz-desc {
	font-size: 14px;
    font-style: italic;
}	


/*******************************
			footer 
*******************************/

#footer {
	height: 815px;
    width: 100%;
	background-color: #2d2d2d;
	color: #ffffff;
	font-size: 13px;
}
#footer .container {
	background-color: #2d2d2d;
}
.footerpad {
	padding-top: 50px;
}
.f-garanty, 
.f-dovklients, 
.f-oplata {
	margin-bottom: 35px;
	padding-left: 80px;
}
.f-garanty {
	background: url(img/f-garanty.png) no-repeat left top;
}
.f-dovklients {
	background: url(img/f-dovklients.png) no-repeat left top;
}
.f-oplata {
	background: url(img/f-oplata.png) no-repeat 5px top;
}
.f-cap1 {
	color: #ffffff;
	font-size: 20px;
	line-height: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}
.f-oplata-spos {	
	margin-top: 0px;
}
.f-oplata-spos img {	
	margin-top: 0px;
	margin-left: 20px;
	display: inline-block;
}
.f-oplata-spos img:first-child {	
	margin-left: 7px;
}

.f-cap2{
	color: #ffffff;
	font-size: 25px;
	line-height: 27px;
	font-weight: bold;
	margin-bottom: 15px;
}
.f-preim {
	padding: 9px 0px 11px 0px;
	background: url(img/f-preim-sep.png) repeat-x left bottom;
}
.f-preim div{
	padding: 0px 0px 0px 35px;
	background: url(img/f-preim.png) no-repeat left center;
}

.f-map {
	margin-top: 5px;
}
.f-map-addr {
	font-size: 14px;
	margin-top: 20px;
}
.f-map-addr p {
	margin: 5px 0px;
}

.f-hr {
	margin: 30px 0px 30px 0px;
}



.nav-footer-cap {
	font-size: 18px;
	color: #c24a47;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 7px;
}

ul.nav-footer {
	margin: 0;
}
ul.nav-footer > li {
	margin: 0px 0px 0px 0px;
	font-size: 16px;
	color: #999999;
	
	list-style: none;
	/*font-family: "GothamProMedium";*/
}
ul.nav-footer > li > a {
	color: #999999;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	text-decoration: none;
}
ul.nav-footer > li > a.red {
	color: #c24a47;
}
ul.nav-footer > li > a::after {
    background: #999999 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0px;
    position: absolute;
    right: 0px;
    transform: scale3d(0, 1, 1);
    -webkit-transform: scale3d(0, 1, 1);
    -ms-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
    -ms-transition: transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
}
ul.nav-footer > li > a.red::after {
    background: #c24a47 none repeat scroll 0 0;
}
ul.nav-footer > li > a:hover::after {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -ms-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -o-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
}


.f-phone {
	font-size: 24px;
	color: #cccccc;
	font-weight: bold;
	padding-left: 25px;
	background: url(img/f-phone.png) no-repeat left 8px;
}
.f-mail {
	font-size: 14px;
	padding-left: 25px;
	background: url(img/f-mail.png) no-repeat left 5px;
	margin-top: 15px;
}
.f-mail a {
	color: #c24a47;
}

.f-whois {
	margin-top: 57px;
	color: #ffffff;
}
.f-whois p {
	margin: 10px 0px;
}

.mal3{
	margin-top: 192px;
	color: #ffffff;
	float: right;
}
.mal3-1 {
	float: left;
	padding-top: 6px;
}
.mal3-1 a {
	color: #999999;
}
.mal3-1 a:hover {
	color: #c24a47;
}
.mal3-2 {
	float: left;
}
.mal3-2 a:hover img {
	opacity: 0.7;
}


@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	.f-whois {
		margin-top: 40px;
	}
	.mal3 {
		margin-top: 130px;
	}
	
}
@media (max-width: 767px) {
	.f-preim-block {
		margin-top: 20px;
	}
	.f-cap1 {
		font-size: 18px;
	}
	.f-cap2 {
		font-size: 20px;
	}
	.f-map {
		margin-top: 20px;
	}
	.f-whois {
		margin-top: 20px;
	}
	.mal3 {
		margin-top: 20px;
	}
}


.bx_catalog_item_title, .bx_catalog_item_price {
	text-align: center;
}
.bx_catalog_item_price i {
	font-size: 16px;
color: #333333;
font-style: normal;
}
.item_current_price i {
font-size: 18px;
color: #333333;
font-style: normal;
}

.content iframe {
max-width: 100%!important;
}

/* 4. Helper Classes  */
.pm-containerPadding20 {
	padding:20px 20px;	
}

.pm-containerPadding30 {
	padding:30px 20px;	
}

.pm-containerPadding40 {
	padding:40px 20px;	
}

.pm-containerPadding60 {
	padding:60px 20px;	
}

.pm-containerPadding80 {
	padding:80px 20px;	
}

.pm-containerPadding100 {
	padding:100px 20px;	
}

.pm-containerPadding120 {
	padding:120px 20px;	
}


.pm-containerPadding-top-20 {
	padding-top:20px;	
}

.pm-containerPadding-top-30 {
	padding-top:30px;	
}

.pm-containerPadding-top-40 {
	padding-top:40px;	
}

.pm-containerPadding-top-50 {
	padding-top:50px;	
}

.pm-containerPadding-top-60 {
	padding-top:60px;	
}

.pm-containerPadding-top-70 {
	padding-top:70px;	
}

.pm-containerPadding-top-80 {
	padding-top:80px;	
}

.pm-containerPadding-top-90 {
	padding-top:90px;	
}

.pm-containerPadding-top-100 {
	padding-top:100px;	
}

.pm-containerPadding-top-120 {
	padding-top:120px;	
}

.pm-containerPadding-bottom-10 {
	padding-bottom:10px!important;	
}

.pm-containerPadding-bottom-0 {
	padding-bottom:0px!important;	
}

.pm-containerPadding-bottom-20 {
	padding-bottom:20px;	
}

.pm-containerPadding-bottom-30 {
	padding-bottom:30px;	
}

.pm-containerPadding-bottom-40 {
	padding-bottom:40px;	
}

.pm-containerPadding-bottom-50 {
	padding-bottom:50px;	
}

.pm-containerPadding-bottom-60 {
	padding-bottom:60px;	
}

.pm-containerPadding-bottom-70 {
	padding-bottom:70px;	
}

.pm-containerPadding-bottom-80 {
	padding-bottom:80px;	
}

.pm-containerPadding-bottom-90 {
	padding-bottom:90px;	
}

.pm-containerPadding-bottom-100 {
	padding-bottom:100px;	
}

.pm-containerPadding-bottom-120 {
	padding-bottom:120px;	
}

.pm-primary {
	color:#ef5438 !important;
}

.pm-secondary {
	color:#000000 !important;
}

.pm-no-margin {
	margin:0px !important;	
}

.pm-no-margin-top {
	margin-top:0px !important;	
}

.pm-no-margin-bottom {
	margin-bottom:0px !important;	
}

.pm-no-padding {
	padding:0px !important;	
}

.pm-column-spacing {
	padding-bottom:30px;
}	

.pm-center {
	text-align:center;	
}

.pm-inline {
	display:inline;	
}

.pm-right-align {
	text-align:right;	
}

.pm-left-align {
	text-align:left;	
}

.pm-divider {
	height:1px;
	background-color:#d9d9d9;
	width:100%;
	margin:10px 0;	
}

.pm-clear-element {
	clear:both;	
}

.columnContainer .row [class*="col-"] {
	padding-bottom:30px;	
}

.sale-paysystem-button {
	display: block;
	margin-top: 15px;
}
.sale-paysystem-button button {
	display: block;
	border: none;
	background: #ba0702 none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
    overflow: hidden;
    padding: 15px 40px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s !important;
    transition: all 0.5s ease 0s !important;
    vertical-align: middle;
}
.sale-paysystem-button button:hover {
    color: #fff;
    cursor: pointer;
	background-color: #630300;
}
.sale-paysystem-button-descrition {
	display: block;
	margin-top: 15px;
}