.flexh1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.flexh1 img {
    margin-left: 10px;
}
.main-att {
    background-color: #f3f3f3; 
    padding: 15px 20px 0px 20px;
}
.main-att b {
    color: #cb4745; 
}
@media (min-width: 1120px) {
    .main-picscat {
        padding: 30px 180px;
    }
}
.main-picscat a {
   display: inline-block;
}
.main-picscat a img {
    transition: all 0.2s;
}
.main-picscat a:hover img {
    display: inline-block;
    transform: rotate(-15deg);
}


.mm-navbar__title {
    font-size: 18px;
    font-weight: 700;
}
.mm-listitem:after {
    left: 0;
}
.mm-menu a, .mm-menu a:active, .mm-menu a:hover, .mm-menu a:link, .mm-menu a:visited {
    color: #ba0702;
}
.mm-listitem__text {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mm-panels {
    border-right: 1px solid rgba(0,0,0,.2);
}
.mm-hiddenul {
    display: none;
}
#my-page {
    height: 100%;
}
.menu-top-top {
    background: #ba0702;
    margin: 0px -15px;
}
.big-menus {
    margin-top: 12px;
    position: relative;
}
.big-menu-fli {
    margin: 0;
    padding: 0;
    float: left;
    width: 33.33%;
    display: inline-block;
    list-style: none;
}
.big-menu-fli > a {
    width: 100%;
    display: inline-block;
    background: rgb(182,7,2);
    background: linear-gradient(90deg, rgba(182,7,2,1) 0%, rgba(139,5,1,1) 35%, rgba(134,5,1,1) 100%);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    transition: all 0.2;
}
.big-menu-fli > a:hover {
    background: rgb(173, 8, 2);
    background: linear-gradient(90deg, rgb(173, 7, 1) 0%, rgb(128, 4, 0) 35%, rgb(124, 5, 1) 100%);
    color: #ffffff;
    text-decoration: none;
}
.big-menu-fli > a:focus {
    color: #ffffff;
    text-decoration: none;
}
.big-menu-fli > a span.big-menu-cat {
    background-image: url(img/big-menu.png);
    background-repeat: no-repeat;
    background-position: 21px 19px;
    display: inline-block;
    padding-left: 83px;
    height: 66px;
    line-height: 68px;
}
.big-menu-fli > a span.big-menu-ac {
    background-image: url(img/big-menu.png);
    background-repeat: no-repeat;
    background-position: 19px -156px;
    display: inline-block;
    padding-left: 83px;
    height: 66px;
    line-height: 68px;
}
.big-menu-fli > a span.big-menu-prem {
    background-image: url(img/big-menu.png);
    background-repeat: no-repeat;
    background-position: 19px -318px;
    display: inline-block;
    padding-left: 83px;
    height: 66px;
    line-height: 68px;
}

.big-menu-fli > a span.bord {
    position: relative;
}
.big-menu-fli > a span.bord::after {
    background: #ffffff none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0px;
    position: absolute;
    right: 0px;
    transform: scale3d(0, 1, 1);
    -webkit-transform: scale3d(0, 1, 1);
    -ms-transform: scale3d(0, 1, 1);
    -o-transform: scale3d(0, 1, 1);
    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
    -ms-transition: transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
}
.big-menu-fli > a:hover span.bord::after {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -ms-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -o-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
}
#horizontal-multilevel-menu2 li ul a span {
    display: inline-block;
    position: relative;
    height: 21px;
}
#horizontal-multilevel-menu2 li ul a span.premiumm, .mm-listitem__text span.premiumm {
    padding-left: 25px;
    position: relative;
    height: 21px;
    display: inline-block;
    background-image: url(img/premiumm.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.col-lg-7.pl0, .col-lg-8.pl0 {
    padding-left: 0px;
}
.apic a {
    display: inline-block;
}

.preim {
    background-color: #f8f8f8;
    padding: 30px 30px;
    min-height: 140px;
    margin-bottom: 15px;
}

.nash-cat {
    text-align: center;
    font-size: 18px;
    margin: 30px 0px;
}

@media (max-width: 769px) {
    .smart-llinks {
        margin-bottom: 10px;
    }
    .smart-llinks li {
        margin-bottom: 0px;
    }
    .bx-red .btn.btn-default {
        text-decoration: none;
        font-size: 14px;
        padding: 5px 16px;
        min-width: 48%;
        margin-right: 0px!important;
        margin-bottom: 6px;
    }
    .product-item-button-container .btn {
        margin-bottom: 0px;
    }
    .product-item-info-container {
        margin-bottom: 0px;
    }
    .bx-soa-back-to-basket {
        float: none;
        text-align: center;
        margin: 20px 0px;
    }
	.itlis .skuCheckedItem {
	font-size: 12px;
	}
	.flexh1 {
		flex-direction: column;
		font-size: 20px;
	}

}


.elementSkuDropDownProperty{
	overflow: visible;
}

.elementSkuDropDownProperty .skuDropdownListItem {
    box-sizing: content-box;
    overflow: visible;
    min-width: auto;
    padding: 0px;
    float: none;
}

.skuDropdown{
	background-color: #ffffff;
    border: 1px solid #cccccc;
	position: relative;
	line-height: 16px;
	font-size: 16px;
	display: block;
	-webkit-user-select: none; 
	-moz-user-select: none;     
	-ms-user-select: none; 
	border-radius: 2px;
	margin-top: 4px;
}

.skuCheckedItem {
	background: url(img/selectArrow.png) 93% 50% no-repeat transparent;
	padding: 12px 30px 12px 10px !important;
	border-radius: 4px;
	display: block;
	cursor: pointer;
}

.itlis.skuDropdown {
    line-height: 14px;
    margin-bottom: 18px;
}
.itlis .skuCheckedItem {
    padding: 8px 30px 8px 10px !important;
}


.skuCheckedItem:hover{
	
}


.skuCheckedItem:active{
	position: relative;
	top: 1px;
}

.skuDropdown label:before,
.skuCheckboxList label:before {
	display: none;
}

.skuDropdownList {
	background-color: #ffffff;
    border: 1px solid #cccccc;
    visibility: hidden;
    position: absolute;
    list-style: none;
    margin: 0 -1px;
    opacity: 0;
    padding: 0;
    z-index: 2;
    top: 44px;
    right: 0;
    left: 0;
}

.itlis .skuDropdownList {
    top: 32px;
}

.skuDropdownList.opened{
	visibility: visible;
	opacity: 1;
}

.pics .skuDropdownList{
	top: 52px;
}

.skuDropdownList .elementSkuPropertyValue{
	border-top: 1px solid #f7f7f7;
	position: relative;
    display: block;
    text-align: left;
    padding: 3px 0px;
    text-transform: none;
    width: 100%;
}
.skuDropdownList .elementSkuPropertyValue .product-item-scu-item-text {
    overflow: hidden;
    max-width: 100%;
    vertical-align: middle;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 16px;
}
.skuDropdownList .product-item-scu-item-text {
    text-align: left;
    text-transform: none;
    font-size: 16px;
    line-height: 18px;
}
.skuDropdownList .product-item-scu-item-text-block {
    position: relative;
    padding: 3px 10px;
    outline: 0px solid transparent;
    cursor: pointer;
    color: #333333;
}
.skuDropdownList .elementSkuPropertyValue .product-item-scu-item-text-block:hover,
.skuDropdownList .elementSkuPropertyValue .product-item-scu-item-color-block:hover, 
.skuDropdownList .elementSkuPropertyValue .product-item-scu-item-text-container.selected .product-item-scu-item-text-block, 
.skuDropdownList .elementSkuPropertyValue .product-item-scu-item-color-container.selected .product-item-scu-item-color-block {
    outline-color: transparent;
    outline-width: 0px;
    color: #ba0702;
}
.skuDropdownList .product-item-scu-item-text-container.selected .product-item-scu-item-text-block {
    outline-color: transparent;
    outline-width: 0px;
    color: #ba0702;
    font-weight: 700;
}

.skuDropdownList .elementSkuPropertyValue:first-child{
	border-top: 0px;
}

.skuDropdownList .selected{
	background-color: #f9f9f9;
	cursor: pointer;
}

.skuDropdownList .elementSkuPropertyValue:hover{
	background-color: #f9f9f9;
	cursor: pointer;
	color: #ba0702;
}

.skuDropdownList .skuPropertyItemLink{
	padding: 12px 8px !important;
	text-decoration: none;
	line-height: 18px;
	text-align: left;
	font-size: 16px;
	color: #000000;
	display: block;
	border: 0px;
}

.skuDropdownList .skuDropdownListItem.selected .skuPropertyItemLink{
	border: 0px;
}

.skuDropdownList .skuDropdownListItem.disabled{
	display: none;
}

.skuDropdownList .elementSkuPropertyValue:active .skuPropertyItemLink,
.skuDropdownList .skuPropertyItemLink:active{
	position: relative;
	top: 1px;
}


.stepiz {
	font-size: 16px;
	text-align: left;
	margin-bottom: 0px;
	margin-top: 40px;
	font-weight: 300;
}
.step-bar {
	width: 100%;
	border: 1px solid #cccccc;
	border-radius: 12px;
	height: 9px;
	padding: 1px 2px;
	margin-bottom: 30px;
}
.step-bar2 {
	width: 100%;
	background-color: #e5e5e5;
	border-radius: 3px;
	height: 5px;
}
.step-bar3 {
	width: 12%;
	background-color: #ba0702;
	border-radius: 3px;
	height: 5px;

}
.step-bar3.s2 {
	width: 24%;
}
.step-bar3.s3 {
	width: 36%;
}
.step-bar3.s4 {
	width: 50%;
}
.step-bar3.s5 {
	width: 62%;
}
.step-bar3.s6 {
	width: 74%;
}
.step-bar3.s7 {
	width: 87%;
}
.step-bar3.s8 {
	width: 100%;
}
.step-bar3.s9 {
	width: 100%;
}

.step-cap {
	font-size: 30px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 700;
}
.formsteps label.radio-l {
	font-weight: 300;
	font-size: 19px;
	text-align: center;
	margin-bottom: 0px;
	position: relative;
	cursor: pointer;
	padding: 15px;
	border: 2px solid #ffffff;
}
.formsteps label.radio-l p {
	margin-top: 10px;
	margin-bottom: 0px;
}

.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 0px 0 0 0px;
	background: none;
}
input[type=radio ]:not(old) + label.radio-l {
  display: inline-block;
  background: none;
  line-height: 24px;
}
.radio:not(checked)+ label.radio-l {
	border: 2px solid #ffffff;
}
.radio:checked + label.radio-l {
	border: 2px solid #ba0702;
}
.radio:focus + label.radio-l {
	border: 2px solid #ffffff;
}
.radio:focus:checked + label.radio-l {
	border: 2px solid #ba0702;
}


  .radio + label.radio-l2 {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
	font-weight: 300;
	font-size: 17px;
  }
  .radio + label.radio-l2:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
  }
  .radio + label.radio-l2:after {
	content: '';
	position: absolute;
	top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
	border-radius: 50%;
	background: #ba0702;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
  }
  .radio:checked + label.radio-l2:after {
	opacity: 1;
  }
  .radio:focus + label.radio-l2:before {
	outline: none;
  }
.pl-20 {
	padding-left: 25px;
}

 .buttons {
	 margin-top: 0px;
	 text-align: center;
 } 
a.nav-link.btnz, a.nav-link.btnz:focus {
	display: inline-block;
	font-size: 26px;
	height: auto;
	line-height: 24px;
	padding: 15px 45px;
	background: #ba0702;
	color: #ffffff;
	text-decoration: none;
}
a.nav-link.btnz:hover {
	background: rgb(173, 8, 2);
	color: #ffffff;
}
a.nav-link.btnz span.rar {
	font-size: 24px;
	line-height: 26px;
	display: inline-block;
	padding-left: 10px;
}
a.nav-link.backkbtn {
	display: inline-block;
	margin-right: 40px;
}
.razmerinp {
	margin: 10px 0px;
	font-size: 23px;
}
.razmerinp input {
	width: 100px;
	padding: 0px 0px 0px 10px;
	border: 1px solid #ccc;
  border-radius: 4px;
}
.razmerinp2 input {
	width: 100%;
	padding: 6px 10px 6px 10px;
	border: 1px solid #ccc;
  border-radius: 4px;
	margin-bottom: 5px;
	font-size: 16px;
}
.razmerinp textarea, .razmerinp2 textarea {
	width: 100%;
	height: 90px;
	font-size: 16px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #ccc;
  border-radius: 4px;
}