.cards_cont{
  min-height: 900px; 
  margin-top: 100px; 
  
}

.card-title {
  text-align: center;
}

.heart_icons{
  width: 50px;
  position: absolute;
  top: 10px;
  right: 0;
}

.cart_icons{
  width: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-footer{
text-align: center;
}

.card-footer:hover{
  background-color: darkgray;
  color: white;
  }
.price{
  color: green;
  text-align: center;
  font-weight: bold;
}
.col{
  margin-bottom: 50px;
}

.desc_link{
  color: black;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: white;
}

.logo{
  height: 100px;
}

.header_link{
  margin-right: 20px;
}

#footer{
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: lightgrey;
}

.footer_contact{
margin-top: 20px;
display: inline-block;
}
.footer_logo{
  height: 30px;
}
.footer_pay{
  display: inline-block;
  margin-top: 20px;
  float: right;
  margin-top: 70px;
}

.footer_pay>img{
  height: 70px;
}

.favor{
  min-height: 600px;  
}
.favor>div{
  /* width: 100%; */
  text-align: center;
}
.navbar{
  opacity: 80%;
}

.itog{
  margin-top: 50px;
  padding-bottom: 50px;
}

.basket{ 
  margin-top: 50px;
}

.basket_card{
  min-height: 500px;
  width: 90%;
  margin: auto;
}